@model CategoryListViewModel

@{
    ViewBag.Title = Model.PageTitle;
}

<h2>@Model.PageTitle</h2>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Description</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr class="@c.RowCss">
            <td class="no-line-through">
            @if (c.AllowEdit)
            {
                <a href="@Url.Action("Edit", new { id = c.Id })" title="Edit"><img src="@Url.Content("~/Content/images/pencil.png")" alt="Edit"/></a>    
            }
            @if (c.AllowDelete)
            {
                <a href="@Url.Action("Delete", new { id = c.Id })" title="Delete" class="delete-link"><img src="@Url.Content("~/Content/images/cross.png")" alt="Delete"/></a>    
            }
            </td>
            <td>@c.Id</td>
            <td>@c.Description</td>
            <td>@c.IsActive</td>
        </tr>
    }
    </tbody>
</table>
