<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>

        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/knockout-2.3.0.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/App/Common.js")"></script>
        
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/stylesheets/Site.css")"/>
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                </ul>
            </div>
        </header>
        <div id="content" class="container">
            @Html.Partial("_FlashMessages")
            @RenderBody()
        </div>
    </body>
</html>
