<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title</title>

        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/knockout-2.3.0.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/App/Common.js")"></script>
        
        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/bootstrap.min.css")"/>
    </head>
    <body>
        <div id="content" class="container">
            @Html.Partial("_FlashMessages")
            @RenderBody()
        </div>
    </body>
</html>
