@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QUnit Tests</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/qunit-1.12.0.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.js")"></script>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/qunit-1.12.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Common.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/Tests.js")"></script>
</body>
</html>
