@model Portfolio.Lib.ViewModels.TagListViewModel
@{
    ViewBag.Title = Model.PageTitle;
}

<div class="page-header">
    <h2>@Model.PageTitle</h2>
</div>

<p>
    @Html.ActionLink("New Tag", "New", new { controller = "Tags"}, new { @class = "btn btn-primary" })
</p>

@Html.AntiForgeryToken()

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Slug</th>
            <th>Description</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr class="@row.RowCss">
                <td class="no-line-through">
                    @if (row.AllowEdit)
                    {
                        <a href="@Url.Action("Edit", new { id = row.Id })" title="Edit"><img src="@Url.Content("~/Content/images/pencil.png")" alt="Edit"/></a>    
                    }
                    @if (row.AllowDelete)
                    {
                        <a href="@Url.Action("Delete", new { id = row.Id })" title="Delete" class="delete-link"><img src="@Url.Content("~/Content/images/cross.png")" alt="Delete"/></a>    
                    }
                </td>
                <td>@row.Id</td>
                <td>@row.Slug</td>
                <td>@row.Description</td>
                <td>@row.IsActive</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" src="@Url.Content("~/Scripts/App/TagsIndexView.js")"></script>
