@model TaskInputModel
@{
    IEnumerable<CategorySelectListModel> categoriesSelectList = CategorySelectList.Categories;
}

<h2>@Model.PageTitle</h2>

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, Model.RouteValues, FormMethod.Post, new { @class = "form-horizontal", role="form" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <label for="Title" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    
    <div class="form-group">
        <label for="Description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    
    <div class="form-group">
        <label for="DueOn" class="col-lg-2 control-label">Due On</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.DueOn, new { @class = "form-control", type = "date" })
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-lg-2 control-label">Categories</label>
        <div class="col-lg-10">
            @foreach (var cat in Model.Categories)
            {
                <div>@cat.Value</div>
            }
            <select id="category-select">
                @foreach (var cat in categoriesSelectList)
                {
                    <option value="@cat.Id">@cat.Description</option>
                }
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            @Html.ActionLink("Cancel", "Index", new { controller = "Tasks" }, new { @class = "btn btn-default" })
        </div>        
    </div>
}
