@model TaskInputModel
@{
    IEnumerable<SelectListItem> tagSelectList = TagSelectList.Tags;
}

<h2>@Model.PageTitle</h2>

@using (Html.BeginForm(Model.ActionName, Model.ControllerName, Model.RouteValues, FormMethod.Post, new { id = "task-form", @class = "form-horizontal", role="form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <label for="Title" class="col-lg-2 control-label">Title</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    
    <div class="form-group">
        <label for="Description" class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    
    <div class="form-group">
        <label for="DueOn" class="col-lg-2 control-label">Due On</label>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.DueOn, new { @class = "form-control", type = "date" })
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-lg-2 control-label">Tags</label>
        <div class="col-lg-10">
            <div id="current-tags">
                @if (Model.Tags != null)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <div class="tag">
                            <input type="hidden" name="Tags[{{id}}].Id" value="@tag.Id" />
                            <input type="hidden" name="Tags[{{id}}].Description" value="@tag.Description" />
                            <span>@tag.Description</span>
                            <button type="button" class="btn btn-danger remove-tag">Remove</button>
                        </div>
                    }    
                }                
            </div>
            <select id="tag-select" class="form-control" style="width: auto;display:inline;margin-right:1em;">
                @foreach (var tag in tagSelectList)
                {
                    <option value="@tag.Value">@tag.Text</option>
                }
            </select>
            <button type="button" class="btn btn-success" id="add-tag">Add</button>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">Submit</button>
            @Html.ActionLink("Cancel", "Index", new { controller = "Tasks" }, new { @class = "btn btn-default" })
        </div>        
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/App/TasksFormView.js")"></script>
